:root {
    --off-white: rgb(240,239,234);
    --dark-red: rgb(123,57,69);
    --light-red: rgb(157,115,119);
    --maroon: rgb(143, 71, 84);
    --pink: rgb(181, 103, 117);
}

@font-face {
    font-family: 'Miles';
    src: url('/fonts/Miles-Regular.woff2') format('woff2'),
        url('/fonts/Miles-Regular.woff') format('woff');
    font-weight: 900px;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Miles';
}

/* all pages */
body {
    background: var(--off-white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background:var(--dark-red);
    background-image: url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
    color: var(--off-white);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-left {
    display: flex;
    align-items: center;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: var(--off-white);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--light-red);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-red);
}

footer {
    text-align: center;
    padding: 20px;
    background:var(--dark-red);
    background-image: url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
    color: var(--off-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

footer a {
    color: var(--off-white);
    text-decoration: none;
}

/* home */
body {
	margin: 0;
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--off-white);
}

.intro-text {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.intro h1 {
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
}

.intro .firstname{
    font-size: 200px;
    color: var(--dark-red);
    animation: slideInLeft 1s ease-in-out;
    margin-bottom: -30px;
	transition: all 250ms;
}

.intro .lastname{
    color: var(--light-red);
    font-size: 80px;
    animation: slideInRight 1s ease-in-out;
	transition: all 250ms;
}

.intro .firstname,
.intro .lastname {
    transition: transform 0.3s ease, color 0.3s ease;
}

.intro .firstname:hover,
.intro .lastname:hover {
    transform: scale(1.1);
    color: var(--pink);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    filter: drop-shadow(0px 0px 1px var(--dark-red));
    animation: l3 1s infinite alternate linear;
  }

  .loader:before {
    content: "";
    flex: 1;
    background: var(--off-white);
    border-radius: 50%;
    -webkit-mask: radial-gradient(circle closest-side at 66% 40%,#0000 115%,#000 118%);
    mask: radial-gradient(circle closest-side at 66% 40%,#0000 115%,#000 118%);
  }

  @keyframes l3 {
    100% {filter:drop-shadow(0px 0px 20px var(--dark-red))};
  }


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--off-white);
    color: var(--dark-red);
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s, transform 0.3s;
}

.download {
    margin-top: 80px;
    background-color: var(--light-red);
    color: var(--off-white);
    animation: slideInBottom 1s ease-in-out;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, transform 0.3s;
}

.download:hover{
    transform: scale(1.2);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}


.btn:hover {
    background: var(--dark-red);
    color: var(--off-white);
    transform: scale(1.1);
}

/* about */
#about a{
    color: var(--dark-red);
    opacity: 0.9;
    text-decoration: none;
}

.content-wrap {
    display: grid;
    place-items: center;
    grid-template-areas: 'main';
    background: var(--off-white);
}

.content {
    grid-area: main;
    display: grid;    
    place-items: center;
    line-height: 1.2;
    grid-template-areas: 'content';
}

.content-wrap .content:first-child {
    height: 100vh;
}

.content--layout {
    grid-template-areas:  'title-up title-down' 
                          'img img'
                          'text text';
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.content__img {
    grid-area: img;
    max-width: 50%;
    height: auto;
}

.content__img--2 {
    aspect-ratio: 1000/450;
}

.title-wrap {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.title {
    padding-top: 0.3em;
    line-height: 0.525;
    font-size: 2rem;
    font-family: "Miles";
    font-variation-settings: "wdth" 200;
    font-weight: bolder;
    color: var(--dark-red);
    position: relative;
    z-index: 100;
    text-indent: -0.1em;
}

.title--up {
    grid-area: title-up;
}

.title--down {
    grid-area: title-down;
    font-style: italic;
}

.content__text {
    grid-area: text;
    margin: 0;
    color: var(--light-red)
}

@media (min-width: 768px) {
    .content-wrap:not(:last-child) {
        margin-bottom: 30vmax;
    }

    .content__img {
        max-width: none;
    }

    .content__img--2 {
        width: 60vw;
    }

    .content--layout-2 {
        grid-template-areas:  'title-up ...' 
                              'img img'
                              'text title-down';
        grid-template-columns: auto auto;
        justify-content: center;
        row-gap: 3vh;
    }

    .title--up {
        justify-self: end;
        align-self: start;
    }

    .content--layout-2 .title--up {
        justify-self: start;
    }

    .title--down {
        justify-self: start;
        align-self: end;
    }

    .content--layout-2 .title--down {
        justify-self: end;
        align-self: start;
        margin-top: -0.1em;
    }

    .content--layout-2 .content__text {
        align-self: start;
        justify-self: start;
        max-width: 400px;
    }

}

/*projects*/
#projects{
    padding: 0, 5rem;
}
.projects-title {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding-bottom: 5%;
    color: var(--dark-red);
}
.project-btn-container {
    display: flex;
    gap: 10px;
}


.content1 {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
}

.content1--perspective {
	perspective-origin: 50% 0%;
	perspective: 1000px;
}
.content1--sticky {
	width: 100vw;
	position: sticky;
	top: 0;
	--offset: 0px;
	top: var(--offset);
	height: calc(100vh - var(--offset));
}

.content1--grid,
.content1--grid .content1__inner {
	display: grid;
	overflow: hidden;
	grid-column-gap: 5vw;
	grid-row-gap: 2vh;
	align-content: center;
	grid-template-areas: 'content1-img' 'content1-title' 'content1-text';
	justify-items: center;
}

.content1--grid:has(.content1__inner) {
	display: block;
	padding: 0;
}

.content1__inner {
	width: 100%;
	height: 100%;
	border-radius: 0 0 2rem 2rem;
}

.content1--card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 95vw;
	max-width: 500px;
	aspect-ratio: 0.8;
	top: 10vh;
	margin: auto;
	border-radius: 14px;
	gap: 3vh;
	text-align: center;
	margin-bottom: 5vh;
}

.content1--card .content1__title {
	font-size: clamp(1.5rem,4vw,3.5rem);
}

.content1--card .content1__title i {
	display: block;
}

.content1--half {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	text-align: center;
}

.content1--half:nth-child(odd) {
	margin-left: auto;
}

.content1__img {
	grid-area: content1-img;
	width: 70%;
	max-width: 400px;
	height: auto;
}

.content1__img--large {
	width: 90%;
	height: auto;
}

.content1__img--small {
	width: 15%;
	height: auto;
}

.spacer {
	margin-top: 20vh;
}

.content1__title {
	grid-area: content1-title;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 800;
	font-size: clamp(1.5rem,5vw,4rem);
	margin: 0;
    color: #FFFAEB;
}

.intro {
	display: grid;
	place-items: center;
	text-align: center;
}

.intro__info {
	position: relative;
	max-width: 20ch;
	opacity: 0.6;
	line-height: 1.2;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	font-weight: 600;
	font-size: 14px;
}

.intro__info::after {
	content: '';
	position: absolute;
	left: 50%;
	width: 1px;
	height: 2rem;
	background: var(--color-bg-1);
	top: 100%;
}


.content1__text {
	margin: 0;
	max-width: 600px;
	grid-area: content1-text;
	text-align: center;
	line-height: 1.5;
	padding: 0 1rem;
	backface-visibility: hidden;
    color: #FFFAEB;
    font-size: 25px;
}

.content1__text--narrow {
	max-width: 300px;
}

.content1--intro {
	padding-top: 25vh;
	padding-bottom: 25vh;
	z-index: 2;
}

.content1--outro {
	padding-top: 30vh;
	padding-bottom: 30vh;
	display: block;
    width: 100%;
    text-align: center;
	justify-content: center;
}

.bg-1 { background: var(--pink); }
.bg-2 { background: var(--maroon); }
.bg-3 { background: var(--pink); }
.bg-4 { background: var(--maroon); }
.bg-5 { background: var(--pink); }
.bg-6 { background: var(--maroon); }
.bg-7 { background: var(--pink); }


.grid {
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	display: grid;
	position: relative;
	margin: 10vh 0 10vh;
}

.grid__item {
    position: relative;
    margin: 0;
}

.grid__item-img {
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	width: 100%;
	height: auto;
	aspect-ratio: 1.5;
    filter: sepia(50%);
}

.grid__item-img-inner {
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: cover;
	position: relative;
}

.grid__item-caption {
	position: absolute;
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.grid__item-caption h3 {
	font-weight: bold;
	font-size: inherit;
	margin: 0;
	color: var(--first-color);
}

.grid__item-caption span {
	font-weight: bold;
	color: var(--second-color-crazy);
}

.outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.outro__title {
	font-weight: 300;
	font-size: clamp(1.5rem,10vw,2rem);
}

/* awards */
.awards {
    padding: 5rem 2rem;
    text-align: center;
    background: var(--off-white);
  }
  
  .awards-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-red);
    margin-bottom: 2rem;
  }
  
  .carousel {
    position: relative;
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark-red);
    color: var(--off-white);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
  }
  
  .carousel-btn--left {
    left: 10px;
  }
  
  .carousel-btn--right {
    right: 10px;
  }
  
  .carousel-btn:hover {
    background: var(--light-red);
  }

/* mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: var(--off-white);
        background-image: url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
        position: absolute;
        right: 0;
        top: 62px;
        width: 100%;
        text-align: right;
        padding: 10px;
        gap: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    .nav-links a{
        color: var(--dark-red);
    }

    .nav-links a:hover {
        color: var(--light-red);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        color:var(--off-white);
    }

    .intro h1{
        margin-bottom: -10px;
    }

    .intro .firstname{
        font-size: 80px;
        margin-bottom: -10px;
    }
    
    .intro .lastname{
        font-size: 50px;
    }

    .download{
        margin-top: 20px;
    }

    .title{
        margin-left: 30px;
        margin-right: 30px;
    }

    .content1__title {
        text-align: center;
    }

    .content-wrap:not(:last-child) {
        margin-bottom: 30vmax;
    }

    .content__img {
        max-width: none;
    }

    .content__img--2 {
        width: 60vw;
    }

    .content--layout-2 {
        grid-template-areas:  'title-up ...' 
                              'img img'
                              'text title-down';
        grid-template-columns: auto auto;
        justify-content: center;
        row-gap: 3vh;
    }

    .title--up {
        justify-self: end;
        align-self: start;
    }

    .content--layout-2 .title--up {
        justify-self: start;
    }

    .title--down {
        justify-self: start;
        align-self: end;
    }

    .content--layout-2 .title--down {
        justify-self: end;
        align-self: start;
        margin-top: -0.1em;
    }

    .content--layout-2 .content__text {
        align-self: start;
        justify-self: start;
        max-width: 400px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .carousel {
        max-width: 100%; 
    }

    .carousel-item {
        min-width: 100%; 
        height: auto; 
    }

    .carousel-btn {
        font-size: 1rem; 
        padding: 0.3rem 0.8rem;
    }

    .carousel-btn--left {
        left: 5px; 
    }

    .carousel-btn--right {
        right: 5px;
    }

}

